*.pyc
*.db
*.orig
*.log
mysql.py
/test
/env
*.idea*
*.DS_Store*
.DS_Store
.coverage
.gitignore~
.python-version
.project
*.png
*.jpg
EasyMeeting/frontend/node_modules/

EasyMeeting/frontend/npm-debug.log
EasyMeeting/frontend/selenium-debug.log
EasyMeeting/frontend/test/unit/coverage
EasyMeeting/frontend/test/e2e/reports
EasyMeeting/frontend/semantic/
EasyMeeting/frontend/semantic.json
.python-version
